body {
    font-family: 'Arial', sans-serif;
    background-color: #3b5998;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: #fff;
    border: 1px solid #d3d6db;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    padding: 20px;
    width: 90%;
    max-width: 800px;
    /* Adjust max-width as needed */
}

.EXbook-logo {
    max-width: 100px;
    height: auto;
    margin-bottom: 20px;
}

h3 {
    color: #3b5998;
    margin-bottom: 20px;
    font-weight: bold;
}

.row {
    display: flex;
    justify-content: space-around;
}

.col-sm-12 {
    text-align: center;
    padding: 10px;
}

.ex-link {
    display: block;
    text-decoration: none;
    transition: transform 0.3s ease;
    color: inherit;
}

.ex-link:hover {
    transform: scale(1.05);
}

.ex-image {
    width: 100%;
    max-width: 1500px;
    height: auto;
    border-radius: 8px;
}

.ex-name {
    margin-top: 5px;
    font-size: 1.2rem;
    color: #555;
}
